/* Styling for global styling: header and footer, buttons, forms etc */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 1920px;
}

h1 {
  font-family: var(--heading-one);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-top: var(--size-four);
}

h2 {
  font-family: var(--heading-two);
  font-size: var(--font-size-six);
}

.quotes {
  font-family: var(--font-one);
}

img {
  width: 100%;
  max-width: var(--image-four);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: var(--size-four);
  background: linear-gradient(
    to bottom,
    var(--color-two) 0px,
    var(--color-two) 20px,
    var(--card-color) 20px,
    var(--card-color) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo-top {
  width: auto;
  max-width: 200px;
}

header li {
  display: inline;
}

li {
  padding: 10px;
  font-size: var(--font-size-four);
  list-style: none;
}

header a {
  color: var(--text-color);
  font-family: var(--font-one);
  text-decoration: none;
  transition: 0.3;
}

a {
  color: var(--text-color);
  font-family: var(--font-one);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--card-color);
}

.fa-solid {
  float: right;
  font-size: var(--font-size-five);
  margin-right: var(--size-four);
  transition: 0.3s;
}

.fa-solid:hover {
  color: var(--button-one);
}

.hamburger {
  display: none;
}

/* styling for small cards */

.small-card {
  background-color: var(--card-color);
  width: 350px;
  padding: 10px 0 20px 10px;
}

/* inputs/form + button */
input:focus {
    outline: 2px solid var(--button-one);
}

.btn {
  font-size: var(--font-size-four);
  font-family: var(--font-one);
  padding: var(--size-two) var(--size-six);
  background-color: var(--button-one);
  border: none;
  color: var(--bg-color);
  display: block;
  margin: auto;
  cursor: pointer;
}

/* styling for loaders */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 5px solid var(--card-color);
    border-top: 5px solid var(--button-two);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: var(--color-two);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 220px;
}

footer a {
  text-decoration: underline;
}

.logo-bottom {
  width: 250px;
}

@media only screen and (max-width: 820px) {

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: var(--card-color);
    z-index: 1000;
  }

  .menu.active {
    display: flex;
  }
  .menu li {
    margin: var(--size-four) 0;
  }
  .menu a {
    font-size: var(--font-size-six);
    font-family: var(--font-one);
  }
  .hamburger {
    display: block;
    margin-top: var(--size-four);
  }
  .hamburger-div {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1100;
  }
  footer {
    height: auto;
    padding-bottom: var(--size-four);
  }
}


@media only screen and (max-width: 500px) {
  h1 {
    font-size: var(--font-size-seven);
  }
}
