/* Styling for global styling: header and footer, buttons, forms etc */

* {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-family: var(--heading-one);
  font-size: var(--h-size);
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-family: var(--heading-two);
  font-size: var(--h-size-two);
}

p {
  font-family: var(--paragraph-one);
  font-size: var(--p-size);
}

.quotes {
  font-family: var(--font-one);
}

img {
  width: 100%;
  max-width: 350px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 20px;
  background: linear-gradient(
    to bottom,
    var(--color-two) 0px,
    var(--color-two) 20px,
    var(--card-color) 20px,
    var(--card-color) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo-top {
  width: auto;
  max-width: 200px;
}

header li {
  display: inline;
}

li {
  padding: 10px;
  font-size: 20px;
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--card-color);
}

.fa-solid {
  float: right;
  font-size: 25px;
  margin-right: 20px;
  transition: 0.3s;
}

.fa-solid:hover {
  color: var(--button-one);
}

.hamburger {
  display: none;
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: var(--color-two);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer a {
  text-decoration: underline;
}

.logo-bottom {
  width: 250px;
}

@media only screen and (max-width: 800px) {

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: var(--card-color);
    z-index: 1000;
  }

  .menu.active {
    display: flex;
  }
  .menu li {
    margin: 30px 0;
  }
  .menu a {
    font-size: 30px;
    font-family: var(--font-one);
  }
  .hamburger {
    display: block;
    margin-top: 25px;
  }
  .hamburger-div {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1100;
  }
}


@media only screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
}
