/** Variables **/
:root {
  /** Colors **/
  --bg-color: #faf9f6;
  --text-color: #1a1f22;
  --card-color: #d7cfc4;
  --color-one: #d0a4a0;
  --color-two: #9cc8ce;
  --button-one: #a14a41;
  --button-two: #3a929e;
  /** Fonts **/
  --heading-one: "Gravitas One";
  --heading-two: "Playfair Display";
  --paragraph-one: "DM Serif Text";
  --font-one: "Figtree";
}
