.empty-cart {
    font-size: var(--font-size-four);
    text-align: center;
    margin: var(--size-seven) 0 ;
}

.link {
    text-align: center;
}

h2 {
    margin-bottom: var(--size-four);
    text-decoration: underline;
}

.display-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 980px;
    min-height: 200px;
    background-color: var(--card-color);
    gap: 16px;
    margin: var(--size-four) auto;
    position: relative;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    min-width: 200px;
    padding-bottom: var(--size-five);
}

.product-image {
    width: 170px;
    height: 170px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: var(--size-five);
    margin-left: var(--size-four);
}

.product-title {
    font-family: var(--font-one);
    text-decoration: none;
    font-size: var(--font-size-three);
}

.product-price {
  font-family: var(--font-one);
  font-weight: bold;
  font-size: var(--font-size-four);
}

.price-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-width: var(--size-seven);
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.quantity-adjuster {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.quantity-btn {
    background-color: var(--card-color);
    color: var(--text-color);
    font-size: var(--font-size-three);
    width: var(--size-four);
    margin: 0;
    padding: 0;
}

.quantity-number {
    font-size: var(--font-size-three);
    font-family: var(--font-one);
    text-align: center;
}

.remove-btn {
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--button-one);
    background-color: var(--card-color);
    border: none;
    border-radius: 5px;
    align-self: center;
    font-size: var(--font-size-two);
    align-self: flex-start;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1px auto;
    font-family: var(--font-one);
    font-weight: bold;
    font-size: var(--font-size-four);
}

button.remove-all {
    display: block;
    margin: 10px 0 0 auto;
    max-width: 900px;
    font-size: var(--font-size-two);
    background-color: var(--bg-color);
    color: var(--button-one);
}

.summary-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 960px;
    margin: 1px auto;
}

.continue-btn {
    display: block;
    margin: 15px auto var(--size-five);
    padding: 12px 20px;
    font-size: var(--font-size-three);
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--button-one);
    border: none;
    text-align: center;
}

button {
    border: none;
    font-size: var(--font-size-four);
    font-family: var(--font-one);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .price-div {
    margin-left: auto;
}
}

@media only screen and (max-width: 435px) {
    .display-products {
        justify-content: center;
        padding-top: var(--size-four);
    }
    .product-info {
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: var(--size-four);
    }
    .remove-btn {
        margin: auto;
    }
    .quantity-adjuster {
        position: relative;
        bottom: 10px;
    }
    .quantity-btn,
    .quantity-number {
        font-size: var(--font-size-four);
    }
}