/* Styling for index.html only */

section.account {
  background-color: var(--button-one);
  color: var(--bg-color);
  height: 400px;
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

p.text-account {
  font-size: 30px;
  width: 700px;
  font-family: var(--heading-two);
}

a.account-btn {
  font-size: 35px;
  padding: 30px 70px 30px 70px;
  background-color: var(--card-color);
}

section.choose-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 100px 0px;
  gap: 40px;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: var(--heading-one);
}

p.text-choose {
  font-family: var(--heading-two);
  font-size: 25px;
  width: 1000px;
}

img.image-collage {
  max-width: 900px;
  display: block;
  margin: 50px auto 30px auto;
}
