/* Styling for index.html only */

/* Styling for the carousel slider*/

#carousel-slider {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 700px;
  margin: 40px auto;
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-image {
  width: 100%;
  max-width: none;
  height: 800px;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 12px;
}

.mySlides {
  width: 100%;
  height: 500px;
}

.carousel-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

a.view-item {
  background-color: var(--button-one);
  font-size: 35px;
  padding: 30px 70px 30px 70px;
  color: var(--bg-color);
  display: inline-block;
}

a.prev,
a.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  color: var(--text-color);
  font-size: 70px;
  text-decoration: none;
  z-index: 50;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

h1 {
  margin-top: 100px;
}
/* Styling for product grid, */

.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.trending-products {
  flex: 0 0 calc(25% - 60px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.trending-info {
  background-color: var(--card-color);
  width: 350px;
  padding: 10px 0 20px 10px;
}

.trending-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.trending-title {
  font-family: var(--font-one);
}

.trending-price {
  font-family: var(--font-one);
  font-weight: bold;
  font-size: 20px;
}

section.account {
  background-color: var(--button-one);
  color: var(--bg-color);
  height: 400px;
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

p.text-account {
  font-size: 30px;
  width: 700px;
  font-family: var(--heading-two);
}

a.account-btn {
  font-size: 35px;
  padding: 30px 70px 30px 70px;
  background-color: var(--card-color);
}

section.choose-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  gap: 40px;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: var(--heading-one);
}

h2 {
  text-decoration: underline;
}

p.text-choose {
  font-family: var(--heading-two);
  font-size: 25px;
  padding: 30px;
}

img.image-collage {
  max-width: 900px;
  display: block;
  margin: 50px auto 30px auto;
}

@media only screen and (max-width: 800px) {
  a.view-item {
    font-size: 30px;
  padding: 30px 60px 30px 60px;
}
}

@media only screen and (max-width: 500px) {
  #carousel-slider {
    max-width: 500px;
    height: 400px;
  }
  .carousel-image {
    height: 400px;
  }
  a.view-item {
    font-size: 25px;
  padding: 20px 50px 20px 50px;
  }
  h1 {
    margin-top: 50px;
  }
  h2 {
    font-size: 25px;
  }
  img.image-collage {
    display: none;
  }
  h2.inspired {
    display: none;
  }
  section.account,
  section.choose-us {
    height: auto;
    padding: 30px;
    gap: 50px;
  }
}
