
/* checkout.html styling */

.checkout-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: var(--card-color);
    margin: 30px auto;
    align-items: stretch;
}

.item-display {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px 0;
    gap: 5px;
    flex-wrap: wrap;
}

.product-title {
    flex: 2;
    min-width: 0;
}

.product-quantity {
    flex: 1;
    text-align: center;
    min-width: 40px;
}

.product-price {
    flex: 1;
    text-align: right;
    min-width: 60px;
    font-family: var(--font-one);
    font-weight: bold;
}

.total-price {
    font-family: var(--font-one);
    font-weight: bold;
    font-size: 16px;
}

.total-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.product-image {
    display: inline;
    max-width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
}

fieldset {
    margin: 20px 0;
    padding: 20px;
     border: none;
}

.inputs-small {
    display: flex;
    gap: 20px;
}

.inputs-small .group-input {
    flex: 1;
    min-width: 0;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: var(--font-one);
}

label.choose {
    font-family: var(--heading-one);
    font-size: 17px;
}

p {
    font-family: var(--font-one);
    font-size: 16px;
}

.payment-card input[type="text"],
.user-info input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    accent-color: var(--button-one); 
    margin-right: 10px; 
}

legend,
h2.shopping {
    font-family: var(--heading-one);
    text-decoration: none;
    font-size: 20px;
    text-align: start;
}

h2.shopping {
    margin-left: 22px;
}

button {
  font-size: 20px;
  font-family: var(--font-one);
  padding: 10px 50px 10px 50px;
  background-color: var(--button-one);
  border: none;
  color: var(--bg-color);
  display: block;
  margin: auto;
  cursor: pointer;
}

/* styling for success/index.html */

main.success {
    background-color: var(--card-color);
    width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
}

h2.order {
    text-decoration: none;
}

h2.continue {
    text-align: start;
    margin-top: 30px;
    text-decoration: none;
}

h2 a {
    text-decoration: underline;
    margin-top: 20px;
}