/* Styling for product grid, */

#product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.product-div {
  flex: 0 0 auto;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.product-info {
  background-color: var(--card-color);
  width: 350px;
  padding: 10px 0 20px 10px;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.product-title {
  font-family: var(--font-one);
}

.product-price {
  font-family: var(--font-one);
  font-weight: bold;
  font-size: 20px;
}

/* Specific-product page styling */

#product-card {
  display: flex;
  justify-content: center;
  gap: 100px;
}

h2 {
  margin: 20px 0;
}

.specific-product {
  background-color: var(--card-color);
  display: flex;
  gap: 40px;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  align-items: center;
}

.specific-image {
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 460px;
  object-fit: cover;
}

.specific-title {
  font-size: 30px;
  text-align: start;
}

.specific-rating i {
  margin-right: 5px;
}

.original-price {
  display: block;
  font-size: 40px;
  font-family: var(--font-one);
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
}

.discounted-price {
  font-size: 40px;
  font-family: var(--font-one);
  font-weight: bold;
  color: var(--button-one);
}

.specific-description {
  font-family: var(--font-one);
}

.hidden {
  display: none;
}

.add-cart {
  background-color: var(--button-one);
  color: var(--bg-color);
  border: none;
  width: 100%;
  max-width: 150px;
  font-family: var(--font-one);
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.add-cart.active {
  background-color: var(--color-one);
  color: var(--text-color);
}

.specific-content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fa-share {
  cursor: pointer;
  font-size: 25px;
  position: relative;
  bottom: 50px;
  left: 220px;
}

.copied {
  font-family: var(--font-one);
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  left: 30px;
  bottom: 5px;
}

#reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .specific-product {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .specific-image {
    max-width: 100%;
    height: auto;
  }
  #reviews {
    justify-content: start;
    max-width: 400px;
    padding-left: 30px;
  }
}
