/* Stylesheet for login.html and register.html */
#login,
#register,
.container {
  background-color: var(--card-color);
  width: 100%;
  max-width: 1000px;
  height: 700px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  padding-top: 30px;
  margin-bottom: 30px;
}

input,
textarea {
  display: block;
  width: 300px;
  padding: 20px;
  border: none;
  background-color: var(--bg-color);
  margin: 20px auto;
}

label {
  display: none;
}

button {
  font-size: 20px;
  font-family: var(--font-one);
  padding: 10px 50px 10px 50px;
  background-color: var(--button-one);
  border: none;
  color: var(--bg-color);
  display: block;
  margin: auto;
  cursor: pointer;
}

a.register {
  text-decoration: underline;
}

h2 {
  margin-top: 50px;
}

.error {
  font-family: var(--font-one);
  color: var(--button-one);
  font-size: 0.9rem;
  margin-bottom: 10px;
  position: relative;
  bottom: 10px;
}

#result {
  font-family: var(--font-one);
  font-size: 1rem;
  margin-top: 10px;
}

.ok {
  color: var(--text-color);
  padding: 10px;
  border-radius: 6px;
}

p.register-info {
  margin-top: 50px;
  text-align: center;
  padding: 0 100px;
}